#contactform {
	display: flex;
	align-items: center;
	padding: 30px;
}
.inputform , button {
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	outline: none;
	display: block;
	width: 100%;
}
.form {
	margin-left: 20px;
}
.row {
	width: 100%;
}
.map {
}
.content {
	margin-top: 12vh;
	align-items: center;
}

/*.map {
	margin: 100px;
}*/

textarea {
	width: 300px;
}

button {
  /*width: 50%;*/
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
}

iframe {
	width: 100%;
	height: 300px;
}

@media only screen and (max-width: 510px) {
	iframe {
		width: 100%;
		height: 250px;
	}
	.content {
		margin-top: 21vh;
	}
}