#portfolio-logo1 {
	width: 100%;
}
.row {
	align-items: center;
  	margin: 0 auto;
}
.card {
	margin: 5px;
}
.projimg{
	height: 150px;
	align-items: center;
	margin: 10px auto;
}
.card-text {
	font-family: 'Ubuntu', sans-serif;
}
.content {
	margin-top: 12vh;
	align-items: center;
}
.card {
	background:black;
	opacity: 0.8;
}

@media only screen and (max-width: 510px) {
  #nav-head {
    height: 20vh;
  }
  .content {
    margin-top: 21vh;
  }
}