* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html {

}

body {
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

#nav-head {
  height: 10vh;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 5px solid cyan;
  background:#eee;
  opacity: 0.9;
}
.nav-link {
  text-decoration: none;
  display: inline-block;
  background-color: white; 
  border-radius: 20px;  
  margin-top: 5px;
  color: blue;
}
.nav-item {
  display: inline-block;
}
ol, ul {
  padding-left: 0;
}
.active {
  background:black;
  font-color:red;
  
}
.content {
  font-family: 'Anton', sans-serif;
  margin-top: 20vh;
  /*margin-bottom: 51px;*/
  color: white;
 /* text-align: left;
  align-items: left;*/

}

.informations {
  background: #eee;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}
.highlight {
  color: cyan;
}
#slogan {
  font-family: 'Ranchers', cursive;
  text-align: center;
}
.profile-picture {
  display: block;
  padding-top: 20px;
}
.profile-picture img {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.tech-stack {
  height: 100px;
  margin-top: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#html {
  background-image: url(../images/html.png);
}

#css {
  background-image: url(../images/css.png);
}


#js {
  background-image: url(../images/js.png);
}

#gitlab {
  background-image: url(../images/gitlab.png);
}

ul.menu li+li:before {
  padding: 8px;
  color: black;
  content: "|\00a0";
}
/*#slogan {
  font-family: 'Ranchers', cursive;
  background: black;
  color: white;
  opacity: 0.3;
  font-size: 45px;
  width: 50%;
  height: 50%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}*/

.nav-link:hover {
  background-color: black;
}

/*PROJECTS*/

#projects {
  padding-top: 20vh;
  padding-bottom: 30vh;
  border-bottom: 5px solid  cyan;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#projhead {
  text-align: center;
}

.proj {
  display: block;
  margin:0 auto;
}

.projimg{
  height: 150px;
  align-items: center;
  margin: 10px auto;
}

/*CONTACT US*/
#contact {
  padding-bottom:20vh;
  padding-top:20vh;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
#contactbutton {
  /*width: 50%;*/
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
}

#contacthead, p {
  text-align: center;
}


#contact div {
  align-items: center;
  margin:0 auto;
}

.inputform , button {
  margin: 10px auto;
  padding: 10px 0;
  border-radius: 10px;
  outline: none;
  display: block;
  width: 90%;
  align-items: center;
}
#map {
  height: 100%;
}

iframe {
  width: 100%;
}

/*FOOTER*/

footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 5px
  opacity: 0.8;
}

@media only screen and (max-width: 510px) {
  #nav-head {
    height: 20vh;
  }
  .content {
    margin-top: 21vh;
  }
}